<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDs</title>
    <link rel="stylesheet" href="/css/cruds.css">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.8/datatables.min.css" rel="stylesheet">
</head>
<body>
    <% include('partials/header') %>
    
    

    <img style="width:120px"src="./images/side10.jpg">
        <img style="width:120px" src="./images/side6.jpg">
        
        <img style="width:120px" src="./images/novel3.jpeg">
       
        <img style="width:120px" src="./images/novel6.jpeg">
        <img style="width:120px" src="./images/novel1.jpeg">
        <img style="width:120px" src="./images/novel2.jpeg">
        <img style="width:120px" src="./images/novel7.jpeg">
        <img style="width:120px" src="./images/novel10.jpeg">
        <img style="width:120px" src="./images/novel5.jpeg">
        <img style="width:120px" src="./images/novel2.jpeg">
  
        
        <div class="row my-4 mx-4" >
            <div class="col-lg-12">
                <% if (message){ %>
                    <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                        <button class="btn btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong><%= message.message %></strong>
                    </div>
                <% } %>

                <div class="table-responsive">
                    <% if (books.length > 0){ %>
                        <table class="table table-striped text-center">
                            <thead>
                                <tr class="table-dark">
                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>BookName</th>
                                    <th>Author Name</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% books.forEach((row, index) => { %>
                                    <tr class="align-middle">
                                        <td><%= index + 1 %></td>
                                        <td><img src="<%= row.image %>" width="50" class="img-thumbnail" ></td>
                                        <td><%= row.name %></td>
                                        <td><%= row.author_name %></td>
                                        <td><%= row.email %></td>
                                        <td>
                                            <a href="/edit/<%= row._id %>" class="text-success">Edit</a>
                                            <a href="/delete/<%= row._id %>" class="text-danger">Delete</a>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" onclick="window.location.href='/add'">Add Books</button>
                    <% } else { %>
                        <h1 class="text-center mt-5">No users found in the database</h1>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.13.8/datatables.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
        $(document).ready(function() {
            $("table").DataTable({
                order: [0, 'desc'],
                paging: true, // Enable pagination
                pageLength: 5, // Set the number of rows per page
                lengthChange: false, // Disable the "Show X entries" dropdown
                searching: true, // Enable search box
                info: true, // Enable showing information
                responsive: true // Enable responsive design
            });
        });
    </script>
</body>
</html>